* {
	margin: 0;
	padding: 0;
	font-family: 'Rubik';
	box-sizing: border-box;
	transition: all ease 1s;
}

body {
	background-color: white;
}

body::-webkit-scrollbar {
  width: 8px;
  height: 2px;
}

body::-webkit-scrollbar-track {
  background-color: #ffffff;
}

body::-webkit-scrollbar-thumb {
  border-radius: 4px;
  border: 1px solid #535358;
  background-color: #ffffff;
}

main {
	width: 100%;
	margin: auto;
	display: flex;
	overflow: hidden;
	flex-direction: row;
	background-color: #FFF;
}

.left-panel {
	width: 500px;
	height: 100%;
	display: flex;
	overflow: auto;
	position: fixed;
	padding-left: 200px;
	flex-direction: column;
	background-color: #f4f4ff;
	border-right: 1px solid #dbd1d1;
}

.left-panel::-webkit-scrollbar {
  width: 6px;
  height: 2px;
}

.left-panel::-webkit-scrollbar-track {
  background-color: #f4f4ff;
}

.left-panel::-webkit-scrollbar-thumb {
    border-radius: 4px;
    border: 1px solid #a7a7a7;
    background-color: #f4f4ff;
}

.panel-header {
	display: flex;
	padding: 10px;
	flex-wrap: nowrap;
	flex-direction: row;
	align-items: center;
	border-bottom: 1px solid #dbd1d1;
}

.container-logo {
	width: 120px;
	display: flex;
	cursor: pointer;
	overflow: hidden;
	flex-wrap: nowrap;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.container-logo .laravel-logo {
	width: 40px;
	height: auto;
}

.container-logo .odata-logo {
	width: 45px;
	height: auto;
}

.container-logo .logo-divider {
	color: #EB4432;
}

.big-container-logo {
	width: 520px;
	display: flex;
	cursor: pointer;
	overflow: hidden;
	flex-wrap: nowrap;
	margin-left: 70px;
	flex-direction: row;
	align-items: center;
	margin-bottom: 20px;
	justify-content: space-between;
}

.big-container-logo .laravel-logo {
	width: 190px;
	height: auto;
}

.big-container-logo .odata-logo {
	width: 195px;
	height: auto;
}

.big-container-logo .logo-divider {
	color: #EB4432;
	font-size: 50px;
	font-weight: 500;
}

.big-logo-title {
	color: #EB4432;
	font-size: 50px;
	font-weight: 500;
	margin-left: 52px;
	margin-bottom: 20px;
}

.container-title {
	cursor: pointer;
	margin-left: 15px;
}

.container-title .header-title {
	color: #EB4432;
	font-size:15px;
}

.item-icon {
	color: #EB4432;
	margin-right: 5px;
	font-weight: 500;
}

.panel-body ul {
	list-style: none;
}

.panel-body ul li {
	cursor: pointer;
	transition: all ease 1s;
}

.panel-body ul li.top-item > a:hover {
	padding-left: 40px;
	background-color: #dee4f9;
}

.panel-body ul li.active > a:hover {
	padding-left: 40px;
	background-color: transparent;
}

.panel-body ul li ul li > a:hover {
	padding-left: 20px;
}

.panel-body ul li a {
	color: #000;
	display: block;
	font-size: 14px;
	font-weight: 500;
	padding: 15px 20px;
	text-decoration: none;
	border-bottom: 1px solid #dbd1d1;
}

.panel-body ul li.active > a, .panel-body ul li.active > a .item-icon {
	color: #EB4432;
}

.panel-body ul li ul {
	list-style: none;
	border-bottom: 1px solid #dbd1d1;
}

.panel-body ul li ul li {
	padding-left: 40px;
}

.panel-body ul li ul li:hover {
	background-color: #dee4f9;
}

.panel-body ul li ul li a {
	padding: 15px 0px;
	border-bottom: none;
}

.doc-main {
	width: 60%;
	overflow: hidden;
	margin-left: 500px;
	padding: 20px 30px;
}

article {
	font-size: 14px;
	line-height: 27px;
	margin-bottom: 20px;
	justify-content: justify;
}

article h1 {
	margin-bottom: 15px; 
}

article h3 {
	color: #3e86f1;
	font-size: 14px;
	font-weight: 500;
}

.label {
	color: #EB4432;
}

.label.circle {
	font-size: 20px;
	font-weight: 500;
}

.article-link {
	color: #EB4432;
}

.blue-link {
	color: #0253e5;
}

.cmd-code {
	padding: 12px;
	color: #BFC7D5;
	margin: 20px 0px;
	border-radius: 5px;
	background-color: #252A37;
}

.divider {
	margin: 10px 0;
}


table, th, td {
  	border-collapse: collapse;
	border: 1px solid #dbd1d1;
}

th, td {
	width: 100%;
	padding: 5px 10px;
}

table {
	border: 0px;
	min-width: 100px;
	min-height: 200px;
	margin-right: 20px;
}

.inline-block {
	display: inline-block;
}

.container-theme-button {
	top: 20px;
	right: 20px;
	width: 100px;
	display: flex;
	margin-right: 0;
	position: fixed;
	overflow: hidden;
	border-radius: 10px;
	flex-direction: row;
	border: 1px solid #5a5656;
	justify-content: space-between;
}

.container-theme-button * {
	margin-right: 0;
}

.container-theme-button a {
	padding: 5px 10px;
	background-color: #fff;
}

.container-theme-button .active {
	background-color: #c4ddf1;
}

.icon-theme {
	width: 30px;
	height: auto;
}

.icon-theme-first {
	border-right: 1px solid #5a5656;
}

@media screen and (max-width: 1500px) {
	.left-panel {
		width: 400px;
		padding-left: 100px;
	}

	.doc-main {
		margin-left: 400px;
	}
}

@media screen and (max-width: 1200px) {
	.left-panel {
		width: 300px;
		padding-left: 0px;
	}

	.doc-main {
		width: 70%;
		margin-left: 300px;
	}
}