main {
	background-color: #1b1e26;
}

.left-panel {
	background-color: #232730;
}

.left-panel ul li a {
	color: #B5B5BD;
}

article {
	color: #B5B5BD;
}

article h3 {
	color: #9e9ee5;
}

.blue-link {
	color: #89b3ff;
}

.panel-body ul li ul li:hover {
	background-color: #1b1e26;
}

.panel-body ul li.top-item > a:hover {
	background-color: #1b1e26;
}

body {
	background-color: #1b1e26;
}

body::-webkit-scrollbar-track {
  background-color: #1b1e26;
}

body::-webkit-scrollbar-thumb {
  border-radius: 4px;
  border: 1px solid #f4f4ff;
  background-color: #1b1e26;
}


.left-panel::-webkit-scrollbar-track {
  background-color: #232730;
}

.left-panel::-webkit-scrollbar-thumb {
  border-radius: 4px;
  border: 1px solid #f4f4ff;
  background-color: #232730;
}

.container-theme-button a {
	padding: 5px 10px;
	background-color: #1b1e26;
}

.container-theme-button .active {
	background-color: #0f3f64;
}

.responsive-menu {
	background-color: #232730;
}

.menu-icon {
  background-color: #B5B5BD;
}

@media screen and (max-width: 1000px) {
	.container-theme-button a {
		background-color: #232730;
	}
}